body {
background: black url("./bg.jpg") no-repeat;
background-size: cover;
}

li a {
    color: white;
}

p {
    color: gray;
}

h1 {
    color: lightgreen;
}

h2 {
    color: white;
}

h3 {
    color: darkgreen;
}

h4 {
    color: darkgoldenrod;
}

ul {
    color: darkgoldenrod;
}
