{% load static %}
<!DOCTYPE HTML>
<link rel="stylesheet" type="text/css" href="{% static 'codhc/style.css' %}">

<html>
    <head>
        <title>CODHC</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <h2>Call of Duty Honor Country</h2>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Contribute
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'codhc:index' %}">Home</a>
    <a class="dropdown-item" href="{% url 'codhc:addcomment' %}">Add Comment</a>
    <a class="dropdown-item" href="{% url 'codhc:addpost' %}">Add Post</a>
    <a class="dropdown-item" href="{% url 'users:index' %}">Login</a>
  </div>
</div>

<br />

    <div class="p-3 mb-2 bg-secondary text-white">
    {% block all_content %}
    {% endblock %}
    {% block post_content %}
    {% endblock %}
    {% block comment_content %}
    {% endblock %}
    </div>
</div>

</body>

