{% load static %}
<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>CODHC - Login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="{% url 'codhc:index' %}" class="logo">Home</a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Call of Duty Honor Country - Login</h1>
				<p>Log in or register a user account</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						
						{% block content %}
				        {% endblock %}
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="{% static "assets/js/jquery.min.js" %}"></script>
			<script src="{% static "assets/js/skel.min.js" %}"></script>
			<script src="{% static "assets/js/util.js" %}"></script>
			<script src="{% static "assets/js/main.js" %}"></script>

	</body>
</html>
